<form action="/somerandomURL" method="POST">
  <label for="1">authors name</label>
  <input name="author[name]" type="text" id="1">
  <label for="2">book name</label>
  <input name="author[books][0][name]" type="text" id="2">
  <label for="3">book name</label>
  <input name="author[books][1][name]" type="text" id="3">
  <input type="submit" value="send data">
</form>

<!-- first key is key to top level hash -->
<!-- if the second array is blank it will put the values in an array -->
<!-- if the second thing is an array with a value in it, it will be the key to a hash -->
<!--  -->

<!-- my notes: form submitted, Rack parses into params -->